*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    background-color: #849d8f;
    min-width: 1200px;
}

a {
    font-weight: 500;
    color: #fff;
    line-height: 18px;
}

a:hover {
    color: #ffbc9e;
}

a:active {
    color: #ffbc9e;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    
}

.mainHeader .logo {
    margin-top: 9px;
    margin-right: 27px;
}

.mainNavigation {
    display: flex;
}

.siteNavigation, .userNavigation {
    padding-top: 20px;
}

.userNavigation {
    margin-left: auto;
}

.siteNavigation li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

.siteNavigation li:last-child, .userNavigation li:last-child {
    margin-right: 0px;
}

.userNavigation li {
    display: inline-block;
    margin-right: 8px;
}

.siteNavigation .navLink {
    line-height: 18px;
    color: #fff;
    font-weight: 700;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 900;    
}

.catalogLink:hover  .submenu {
    display: block;  
}

.submenu a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #323232;
}

.submenu .newIcecream {
    font-weight: 700;
}

.submenu li:hover {
    background-color: #fbded7;
}

.submenu li:active {
    background-color: #f6b5a5;
}

.submenuCurrent {
    background-color: #d07058;
}

.catalogLink > a:active {
    background-color: #ededed;
    color: #333;
}

a.catalogCurrent {
    color: #fff;
    background-color: #d07058;
    font-weight: 700;
    text-decoration: none;
}

.userNavigation .userLink {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.searchForm, .loginForm, .goodsChosen, .feedbackForm {
    display: none;
}

.userNavigation .userLink {
    background-color: rgba(161, 180, 169, 0.2);
}

.userNavigation .userLink:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.sliderItem h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}

.sliderItem .btnSlider {
    font-size: 32px;
    line-height: 44px;
}

.sliderItem:first-child {
    background-image: url('../img/slider_ice1.png');
    background-repeat: no-repeat;
}

.sliderItem:nth-child(2) {
    background-color: #8996a6;
    background-image: url('../img/slider_ice2.png');
    background-repeat: no-repeat;
}

.sliderItem:nth-child(3) {
    background-color: #9d8b84;
    background-image: url('../img/slider_ice3.png');
    background-repeat: no-repeat;
}

.gifts .giftRaspberry {
    background-color: #701c33;
    background-image: url('../img/raspberry_bg.jpg');
    background-repeat: no-repeat;
}

.gifts .giftChoco {
    background-color: #3e271c;
    background-image: url('../img/chocolate_bg.jpg');
    background-repeat: no-repeat;
}

.giftContainer p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.giftContainer h3 {
    color: #fff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.icecreamImage img {
    border-radius: 50%;
}

.shopDescriptionTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.shopDescription {
    background-color: #ebe0c5;
    background-image: url('../img/waffle_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding-top: 6px;
    padding-bottom: 17px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content p {
    width: 480px;
    margin-left: 70px;
    margin-bottom: 9px;
}

.content p:nth-child(2) {
    order: 1;
}
.content p:nth-child(4) {
    order: 4;
}

.postsWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog {
    background-color: #fff;
    background-image: url('../img/strawberry_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 560px;
    min-height: 200px;
    padding-left: 20px;
    padding-top: 15px;
}

.blog .blogHeading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

.blog .blogLink {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    display: block;
    width: 280px;
}

.subscribe {
    background-image: url('../img/bg-post.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 560px;
}

.subscribeContainer {
    background-color: #f8f7f4;
    border-radius: 10px;
    min-height: 210px;
    margin: 0 auto;
    width: 550px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.subscribeContainer .subscribeParagraph {
    color: #5a5a5a;
    margin-top: 33px;
    margin-bottom: 35px;
}

.subscribeForm input {
    line-height: 24px;
    color: #999;
}

.btn {
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    line-height: 24px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 700;
}

.btn:hover {
    background-image: linear-gradient(to top, #e74a35, #f26843), 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.btn:active {
    background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.mapText {
    background-color: #fff;
}

.mapText .address {
    font-size: 14px;
    line-height: 20px;
}

.address b {
    font-size: 18px;
    line-height: 24px;
}

.mainFooter {
    padding: 35px 0;
}

.mainFooter .container {
    display: flex;
}

.mainFooter .social {
    width: 190px;
    margin-right: 210px;
}

.footerLinks {
    width: 330px; 
}

.footerCopyright {
    width: 185px;
    margin-left: auto;
}
.footerLinks a {
    font-size: 13px;
}

.footerCopyright {
    color: #fefefe;
    font-size: 12px;
    line-height: 18px;
}

.logoLink {
    font-weight: normal;
}

/* Форма отзыва */

.feedbackForm {
    padding-top: 1px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f8f7f4;
    width: 478px;
    height: 443px;
    border-radius: 10px;
    position: relative;
}

.feedbackForm .close {
    position: absolute;
    left: 450px; /* Примерное, чтобы не мешалось*/
    top: 10px;
}

.feedbackForm .feedbackText {
    margin-top: 19px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.feedbackForm input, .feedbackForm textarea {
    line-height: 24px;
    color: #999999;
}

/* Страница каталога */

.workTime  {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.phoneNumber {
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

span.workTime, span.phoneNumber {
    text-align: right;
    display: block;  
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li {
    display: inline-block;
    margin-right: 20px;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.breadcrumbsCurrent {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.mainHeading {
    color: #fff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 13px;
}

ul.icecreamList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 104px;
    margin-left: 27px;
}

.icecreamItem {
    display: flex;
    flex-direction: column;
    width: 267px;
    margin-right: 25px;
}

.icecreamImage {
    order: -1;
}

.icecreamList .icecreamLink {
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.itemPrice {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

.itemWeight {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

/* Форма фильтра */

.filterForm {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.filterSection .filterHeading {
    font-size: 14px;
    line-height: 16px;
}

.filterSection .filterSelect {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.inputBg {
    background-color: rgba(255, 255, 255, 0.2);
}

.filterBtn {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
}

.filterBtn:hover {
    color: #323232;
    background-color: #fff;
}

.filterBtn:active {
    background-color: #ededed;
    box-shadow: inset 0px 2px 1px 0 #696969;
}

.paginationItem {
    line-height: 18px;
    font-weight: 500;
}

.paginationList a {
    text-decoration: none;
}

.paginationItemCurrent {
    background-color: #fff;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }