*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    background-color: #849d8f;
    min-width: 1200px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
    position: relative;
    
}

.mainHeader .logo {
    margin-top: 9px;
    margin-right: 10px;
}

.mainNavigation {
    display: flex;
}

.siteNavigation, .userNavigation {
    padding-top: 22px;
}

.siteNavigation {
    max-width: 650px;
}

.userNavigation {
    margin-left: auto;
}

.siteNavigation > li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-bottom: 8px;  
}

.siteNavigation li:last-child, .userNavigation li:last-child {
    margin-right: 0px;
}

.userNavigation li {
    margin-right: 8px;
}

.siteNavigation .navLink {
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    padding: 9px 13px 10px 12px;
    display: block;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.newIcecream::after {
    content: "";
    position: absolute;
    width: 128px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    left: 6px;
    top: 38px;
}

.siteNavigation .navLink:hover, .catalogLink:hover .catLink {
    color: #333;
    font-weight: 700;
    background-color: #f7f6f3;
    text-decoration: none;
    border-radius: 20px;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 900;
    background-color: #f8f7f4; 
    top: 40px;
	left: -6px;
    width: 143px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.catalogLink:hover  .submenu {
    display: block;  
}

.submenu a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #323232;
    display: block;
    padding: 6px 10px 8px 20px;  
}

.newIcecream a {
    font-weight: 700;
}

.newIcecream {
    padding-bottom: 11px;
    padding-top: 3px;
}

.submenuItem:last-child {
    padding-bottom: 6px;
}

.submenu a:hover {
    background-color: #fbded7;
}

.submenu a:active {
    background-color: #f6b5a5;
}

.submenuCurrent {
    background-color: #d07058;
}

.catalogLink > a:active {
    background-color: #ededed;
    color: #333;
}

.catalogLink a.catalogCurrent {
    color: #fff;
    background-color: #d07058;
    font-weight: 700;
    text-decoration: none;
}

.navLink:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
}

.userNavigation {
    display: flex;
    flex-wrap: wrap;
}

.userNavigation .userLink {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.userNavigation .searchLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: relative;
}

.searching:hover .searchForm {
    display: block;
    position: absolute;
    z-index: 10;
    top: 59px;
    left: 621px;
    min-width: 341px;
    box-sizing: border-box;
    padding: 20px 15px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.catalogSearching:hover .searchForm {
    left: 608px;
}

.searchForm input {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #999;
    line-height: 24px;
    font-size: 14px;
    min-width: 311px;
    border: 1px solid #d3d3d2;
}

.searchLink:hover path {
    fill: #000;
}

.userNavigation .entryLink {
    display: flex;
    width: 93px;
    height: 33px;
    padding-left: 10px;
    padding-right: 14px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.entering:hover .loginForm {
    display: flex;
    position: absolute;
    width: 277px;
    box-sizing: border-box;
    padding: 5px 17px 4px 19px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    top: 59px;
    left: 786px;
    z-index: 20;
    flex-wrap: wrap;
    align-items: flex-start;
}

.catalogEntering:hover .loginForm {
    left: 770px;
}

.loginForm input {
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #999;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #d3d3d2;
    width: 100%;
}

.userForm input[type="email"] {
    margin-bottom: 20px;
}

p.userForm {
    margin-bottom: 20px;
}

.loginForm .btn {
    padding: 9px 25px;
    padding-top: 10px;
    box-sizing: border-box;
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.informationSection {
    width: 120px;
    margin-left: 20px;
    margin-top: 0;
}

.informationSection .linkForm {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    font-weight: normal;
    display: block;
}

.informationSection .linkFormRegister {
    margin-top: -3px;
}

.informationSection .linkUnderline {
    border-color: rgba(0, 0, 0, 0.3);
}

.entryLink:hover g {
    fill: #000;
}

.userNavigation .basketLink {
    display: flex;
    width: 100px;
    height: 33px;
    padding-left: 14px;
    padding-right: 13px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.indexLink:hover g {
    fill: #000;
}

.searchForm, .loginForm, .goodsChosen, .feedbackForm {
    display: none;
}

.userNavigation .userLink:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.siteWrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slider_ice1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.siteWrapper::before,
.siteWrapper::after {
  content: "";
  visibility: hidden;
}

.siteWrapper::before {
  background-image: url("../img/slider_ice2.png");
}

.siteWrapper::after {
  background-image: url("../img/slider_ice3.png");
}

.shopInfoIndex {
    margin-top: -5px;
}

.shopInfoIndex .phoneNumber {
    padding-top: 5px;
}

.slider {
    position: relative;
    padding-top: 275px;
    text-align: center;
}

.sliderList {
    margin-bottom: 40px;
}

.sliderItem h2 {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
}

.sliderItem.slide {
    display: none;
  }

.sliderItem .btnSlider {
    font-size: 32px;
    line-height: 44px;
    padding: 11px 38px 11px 39px;
    text-align: center;
    vertical-align: top;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.sliderControls {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 20;
    font-size: 0;
  }

.sliderControls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .siteWrapper {
    background-color: #849d8f;
    background-image: url("../img/slider_ice1.png");
  }
  
  #product-2:checked ~ .siteWrapper {
    background-color: #8996a6;
    background-image: url("../img/slider_ice2.png");
  }
  
  #product-3:checked ~ .siteWrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider_ice3.png");
  }

    #product-1:checked ~ .siteWrapper #slide1,
    #product-2:checked ~ .siteWrapper #slide2,
    #product-3:checked ~ .siteWrapper #slide3 {
    display: block;
}

    #product-1:checked ~ .siteWrapper label[for="product-1"],
    #product-2:checked ~ .siteWrapper label[for="product-2"],
    #product-3:checked ~ .siteWrapper label[for="product-3"] {
    background-color: #ffffff;
}

.gifts {
    display: flex;
    justify-content: space-between;
}

.giftContainer {
    width: 560px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 23px;
    position: relative;
    padding-top: 16px;
}

.gifts .giftRaspberry {
    background-color: #701c33;
    background-image: url('../img/raspberry_bg.jpg');
    background-repeat: repeat;
}

.gifts .giftChoco {
    background-color: #3e271c;
    background-image: url('../img/chocolate_bg.jpg');
    background-repeat: repeat;
}

.giftContainer p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 45px;
}

.giftContainer h3 {
    color: #fff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.giftContainer .btn {
    float: right;

}

.giftRaspberry .btn {
    left: 375px;
}

.giftChoco .btn {
    left: 350px;
}

.indexPageList .icecreamItem:nth-child(4n) {
    margin-right: 0;
}

.icecreamList.indexPageList {
    margin-bottom: 5px;
}

.indexPageList .hit::before {
    content: "";
    background-image: url('../img/hit.svg');
    position: absolute;
    height: 61px;
    width: 61px;
    top: 5px;
}

.icecreamImage img {
    border-radius: 50%;
}

.shopDescriptionTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 19px;
    letter-spacing: 0.01em;
}

.shopDescription {
    background-color: #ebe0c5;
    background-image: url('../img/waffle_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding-top: 6px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content p {
    width: 480px;
    margin-left: 76px;
    margin-bottom: 9px;
    position: relative;
    margin-top: 10px;
}

p.leaf {
    margin-top: 13px;
}

p.cow, p.temperature {
    margin-left: 86px;
}

p.temperature {
    margin-top: 13px;
}

.content p.ice::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -56px;
    background-image: url('../img/ice-cream.svg');
    width: 49px;
    height: 49px;
}

.content p.leaf::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -56px;
    background-image: url('../img/eco.svg');
    width: 49px;
    height: 49px;
}

.content p.cow::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -56px;
    background-image: url('../img/cow.svg');
    width: 49px;
    height: 49px;
}

.content p.temperature::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -56px;
    background-image: url('../img/thermometer.svg');
    width: 49px;
    height: 49px;
}

.content p:nth-child(2) {
    order: 1;
}
.content p:nth-child(4) {
    order: 4;
}

.postsWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog {
    background-color: #fff;
    background-image: url('../img/strawberry_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 560px;
    min-height: 200px;
    padding-left: 20px;
    padding-top: 13px;
}

.blog .blogHeading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 4px;
}

.blog .blogLink {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    display: block;
    width: 281px;
    text-decoration: underline;
}

.blog .blogLink:hover {
    color: #e84d37;
}

.subscribe {
    background-image: url('../img/bg-post.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 560px;
}

.subscribe .btn {
    padding: 10px 19px 10px 19px;
}

.subscribeContainer {
    background-color: #f8f7f4;
    border-radius: 10px;
    min-height: 210px;
    margin: 0 auto;
    width: 550px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.subscribeContainer .subscribeParagraph {
    color: #5a5a5a;
    margin-top: 27px;
    margin-bottom: 35px;
}

.subscribeForm {
    display: flex;
}

.subscribeForm .emailInput {
    line-height: 24px;
    color: #999;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding: 9px 15px;
    flex-grow: 1;
    margin-right: 11px;
    height: 44px;
    min-width: 210px;
    vertical-align: top;
}

.btn {
    background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    font-size: 18px;
    line-height: 24px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 23px 12px;
    display: inline-block;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    color: #fefefe;
    border: none;
    cursor: pointer;
    vertical-align: top;
}

.btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

section.map {
    text-align: center;
    position: relative;
}

.mapText {
    background-color: #fff;
    width: 302px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 305px;
    border-radius: 15px;
    position: absolute; 
    top: 63px;
    left: 871px;
    text-align: left;
    z-index: 10;
}

.mapText .address {
    font-size: 14px;
    line-height: 20px;
    margin-top: 29px;
}

.address .addressLine {
    width: 148px;
    display: block;
}

.address b {
    font-size: 18px;
    line-height: 24px;
    display: block;
}

.address .companyAddress {
    margin-bottom: 19px;
}

.address .companyPhone {
    margin-top: 5px;
}

.mapText .mapBtn {
    padding: 10px 27px;
    margin-top: 10px;
}

.mainFooter {
    padding-bottom: 26px;
}

.mainFooter .container {
    display: flex;
}

.social .socialButton {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: block;
    margin-right: 11px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    position: relative;
}

.footerLinks {
    width: 330px;
    padding-top: 25px;
}

.mainFooter ul.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 210px;
    margin-right: 210px;
    padding-top: 30px;
}

.social .socialTwitter::before {
    content: "";
    position: absolute;
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 32px;
    width: 32px;
    left: 0;
    top: 0;
}

.socialTwitter::before:hover {
    opacity: 1;
}

.social .socialInstagram::before {
    content: "";
    position: absolute;
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 32px;
    width: 32px;
    left: 0;
    top: 0;
}

.social .socialFacebook::before {
    content: "";
    position: absolute;
    background-image: url('../img/fb.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 32px;
    width: 32px;
    left: 0;
    top: 0;
}

.social .socialVk::before {
    content: "";
    position: absolute;
    background-image: url('../img/vk.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    height: 32px;
    width: 32px;
    left: 0;
    top: 0;
}

.social .socialButton:hover {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.7);
}

.social .socialButton:active {
    opacity: 0.8;
    border: 4px solid rgba(255, 255, 255, 0.7);
}

.footerCopyright {
    width: 190px;
    margin-left: auto;
}

.footerLinks a {
    font-size: 13px;
    color: #fff;
}

ul.footerLinks {
    display: flex;
    flex-wrap: wrap;
}

.footerLinks li {
    min-width: 143px;
    position: relative;
} 

.footerLinks li:first-child::before {
    content: "";
    background-image: url('../img/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 13px;
    width: 15px;
    position: absolute;
    top: 5px;
    left: -20px;
}

.footerCopyright {
    color: #fefefe;
    font-size: 12px;
    line-height: 18px;
    padding-top: 13px;
}

.footerCopyright p {
    margin-top: 0;
}

.logoLink {
    font-weight: normal;
    color: #fff;
}

/* Форма отзыва */

.feedbackForm {
    padding-top: 1px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f8f7f4;
    width: 478px;
    height: 443px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.feedbackForm .close {
    position: absolute;
    left: 450px; /* Примерное, чтобы не мешалось*/
    top: 10px;
    width: 18px;
    height: 17px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.feedbackForm .close::before {
    position: absolute;
    content: "";
    background: url("../img/cross-big.svg");
    width: 18px;
    height: 17px;
    left: -7px;
    top: 4px;
}

.feedbackForm .feedbackText {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.feedbackForm input, .feedbackForm textarea {
    line-height: 24px;
    color: #999999;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedbackForm input[type="text"] {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    width: 267px;
    margin-bottom: 20px;
}

.feedbackForm input[type="email"] {
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 11px;
    width: 267px;
    margin-bottom: 20px;
}

.feedbackForm textarea {
    padding-top: 8px;
    padding-left: 11px;
    margin-bottom: 8px;
}

.feedbackButton {
    display: flex;
    justify-content: flex-end;
}

/* Страница каталога */

.basketLink.activeLink {
    width: 117px;
    color: #323232;
    background: #fff;
}

.buying:hover .goodsChosen {
    position: absolute;
    top: 58px;
    right: 28px;
    width: 539px;
    padding: 20px 14px;
    padding-right: 12px;
    padding-bottom: 21px;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    z-index: 25;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

.goodsChosen .goodsRow, .goodsBuy {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    font-weight: normal;
}

.goodsRow .goodsClose {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.goodsRow .secondRow {
    margin-top: -5px;
}

.goodsRow .goodsClose::before {
    transform: rotate(45deg);
}

.goodsRow .goodsClose::after {
    transform: rotate(-45deg);
}

.goodsRow .goodsClose::after, .goodsRow .goodsClose::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 0px;
    width: 15px;
    height: 1px;
    background-color: #231f20;
}

.goodsBuy {
    margin: 0;
    padding-top: 0px;
    margin-right: 26px;
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

.goodsFeatures {
    width: 97px;
    margin: 0;
    padding-top: 8px;
    margin-right: 25px;
}

.goodsTotal {
    display: inline-block;
    width: 58px;
    margin-right: 0;
    margin: 0;
    padding-top: 8px;
    vertical-align: top;
}

.firstGoods {
    vertical-align: top;
    padding-top: 8px;
}

.goodsRow img {
    border-radius: 50%;
    margin-right: 9px;
}

.goodsRow {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-left: 30px;
}

.totalPrice::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0px;
    width: 512px;
    height: 1px;
    background-color: #cacac7;
}

.goodsChosen .goodsPrice {
    color: #999;
    display: inline-block;
    vertical-align: top;
}

.totalPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
    position: relative;
    padding-top: 13px;
}

.totalPrice .total {
    font-weight: 700;
    font-size: 15px;
    color: #323232;
}

.totalPrice .btn {
    margin-top: 13px;
    padding-left: 14px;
    padding-right: 14px;
}

.workTime  {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.phoneNumber {
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

span.workTime, span.phoneNumber {
    text-align: right;
    display: block;  
}

.shopInfo {
    margin-top: -4px;
}

.shopInfo .phoneNumber {
    padding-top: 4px;
}

.breadcrumbs {
    list-style: none;
    margin-top: -23px;
}

.breadcrumbs a:hover {
    color: #ffbc9e;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs li::after {
    content: "»";
    position: absolute;
    color: #fff;
    left: 60px;
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs li {
    display: inline-block;
    margin-right: 17px;
    vertical-align: initial;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #fff;
}

.breadcrumbsCurrent {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.mainHeading {
    color: #fff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 3px;
}

.icecreamContainer {
    width: 1200px;
    margin: 0 auto;
    padding-left: 27px;   
}

ul.icecreamList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    margin-bottom: 52px;
}

.icecreamListContent {
    
}

.icecreamItem {
    width: 267px;
    margin-right: 26px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    
}

.icecreamItem h2 {
    margin: 0 auto;
    margin-bottom: 11px;
    text-align: center;
}

.icecreamItem .thirdRow {
    margin-top: 11px;
}

.icecreamItem .icecreamImage {
    order: -1;
    margin-bottom: 0;
    margin-top: 6px;
}

.iceInfo {
    position: absolute;
    top: 215px;
}

.icecreamList .icecreamLink {
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.icecreamItem .shorterLink {
    width: 195px;
}

.showBtn {
    display: none;
    position: absolute;
    bottom: -46px;
    left: 30px;  
    padding: 12px 17px;
    padding-bottom: 13px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 100px;
}

.linkUnderline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mainFooter .linkUnderline:hover {
    color: #ffbc9e;
}

.icecreamItem:hover .showBtn {
    display: block;
    z-index: 6;
}

.icecreamItem:hover::before  {
    position: absolute;
    z-index: 5;
    content: "";  
    top: 0;
    left: -15px;
    width: 293px;
    min-height: 405px;
    border-radius: 5px;  
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  }

.icecreamItem:hover {
    z-index: 15;
}

.itemPrice {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

.itemWeight {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

/* Форма фильтра */

.sorting .filterSection {
    display: flex;
    flex-wrap: wrap;
}

.filterSection {
    order: 4;
}

.filterWrapper {
    padding: 6px 8px 7px 15px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 23px;
    box-sizing: content-box;
}

.fatting {
    order: 3;
}

.filterForm {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.filterSection .filterHeading {
    font-size: 14px;
    line-height: 16px;
}

.filterSection .filterSelect {
    font-size: 16px;
    line-height: 18px;
    padding-right: 20px;
    border: 0;
    color: #fff;
    background-color: transparent;
    padding-right: 20px;
}

.inputBg {
    display: flex;
    flex-wrap: wrap;
}

.filterBtn {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    order: 5;
    border-radius: 15px;
    border: 1px solid #fff;
}

.filterBtn:hover {
    color: #323232;
    background-color: #fff;
}

.filterBtn:active {
    background-color: #ededed;
    box-shadow: inset 0px 2px 1px 0 #696969;
    
}


.filters {
    margin-bottom: 40px;
}

.filters fieldset {
    border: 0;
    margin: 0;
    margin-right: 12px;
    padding: 0;
    font-weight: 500;
}

.filters legend {
    margin-left: 21px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
}


/* Пагинация */

.paginationList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 32px;
    position: relative;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.paginationList::after {
    content: "";
    position: absolute;
    width: 1146px;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    left: 0px;
    top: 52px;
}

.paginationItem {
    line-height: 18px;
    font-weight: 500;
    margin-right: 3px;
}

.paginationItem:last-child {
    margin-left: 26px;
}

.paginationItem:last-child {
    margin-right: 0;
}

.paginationList a {
    text-decoration: none;
    color: #fff;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
}

.paginationItem .paginationLink:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.paginationItem .paginationLink:active {
    background-color: #ffffff;
    color: #323232;
}

.paginationArrowForward, .paginationArrowBack {
    display: block;
    width: 8px;
    height: 12px;
    background: url(../img/icon-right-small.svg) no-repeat;
    cursor: pointer;
}

.paginationArrowBack {
    opacity: 0.2;
    margin-right: 16px;
    transform: rotate(180deg);
    align-self: center;
}

.paginationArrowForward {
    margin-left: 13px;
    align-self: center;
}

.paginationItem .paginationItemCurrent {
    background: #fff;
    color: #323232;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }